{% extends 'layout.html' %}

{% from 'macros/card.html' import card_wide_link %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    <a href="{{ url_for('admin.index') }}" class="text-primary">Admin</a> | Homepage
{% endblock %}

{% block body %}
    <h1>Welcome</h1>

    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% call card_wide_link("Databases","Modify data tables by year") %}
                    <p>
                        Follow this link to edit form fields for the year
                    </p>
                    <a href="{{ url_for('admin.edit_form_fields') }}"><button class="btn btn-primary">Edit Form Fields</button></a>
                {% endcall %}
                
            </div>
            <div class="col-md-4">
                <h2>Quick Reference</h2>
                <hr>
                <div class="card">
                    <h5 class="card-header">Events</h5>
                    <div class="card-body">
                        <p class="card-text">Quickly add new events from the FRC API</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEventForm">Create Event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal for creating a new event #}
    <div class="modal fade" id="newEventForm" tabindex="-1" data-bs-backdrop="static" aria-labelledby="newEventLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newEventLabel">Create New Event</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <form id="create-event">
                            {{ create_event_form.csrf_token }}
                            {# MARKED FOR REFACTOR #}
                            {# 
                                Name attributes are incredibly important here, if anything is
                                changed in the create_event_form within the form.py file then the names
                                will have to be changed as that is what ties an input to a field. This
                                is a really janky work-around for this problem
                            #}
                            <div class="input-group">

                                
                                <span class="input-group-text" id="event-id-label">Event ID</span>
                                <input type="text" class="form-control" placeholder="ARLI" id="event-id" aria-describedby="event-id-label" name="event_code">
                                
                                <div class="form-floating">
                                    <input type="text" id="event-year" class="form-control" placeholder="2024" name="year">
                                    <label for="event-year">Year</label>
                                </div>
                                
                                <div class="form-floating" required>
                                    <select class="form-select" id="event-level" name="event_type" required>
                                        <option value="qual">Quals</option>
                                        <option value="playoff">Playoffs</option>
                                    </select>
                                    <label for="event-level">Event Level</label>
                                </div>

                                
                                
                                <button type="submit" form="create-event" class="btn btn-outline-primary">Search</button>
                            </div>
                        </form>

                        <div class="form-text" id="basic-addon-4">
                            Match ID's can be found at: 
                            <a href="https://frc-events.firstinspires.org/2024/Events/EventList" target="_blank"><button class="btn btn-outline-secondary btn-sm">FRC Events</button></a>
                        </div>
                    </div>
                    
                    <div id="event-response-target"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="create-event" class="btn btn-primary">Create Event</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        
        const url_endpoint = window.location.href;

        const form = document.getElementById("create-event");
        const target = document.getElementById("event-response-target");

        form.addEventListener("submit", function(event) {
            event.preventDefault();
            target.innerHTML = '<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>';
            fetch(url_endpoint, {
                method: "POST",
                body: new FormData(form)
            })
            .then(response => response.text())
            .then(html => {
                target.innerHTML = html;
            })
            .catch(error => console.error("Error: ", error));
            
        });
        
    </script>
{% endblock %}