{% extends 'layout.html' %}

{% from 'macros/card.html' import card_wide_link %}

{% block title %}
    Admin | Homepage
{% endblock %}

{% block body %}
    <h1>Welcome</h1>

    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% call card_wide_link("Databases","Modify data tables by year") %}
                    <p>
                        Follow this link to modify names and other information for dynamic report data
                    </p>
                {% endcall %}
            </div>
            <div class="col-md-4">
                <h2>Quick Reference</h2>
                <hr>
                <div class="card">
                    <h5 class="card-header">Events</h5>
                    <div class="card-body">
                        <p class="card-text">Quickly add new events from the FRC API</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEventForm">Create Event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal for creating a new event #}
    <div class="modal fade" id="newEventForm" tabindex="-1" data-bs-backdrop="static" aria-labelledby="newEventLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newEventLabel">Create New Event</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <form id="create-event" action="{{ url_for('admin.create_event') }}" method="post">
                            {# create_event_form.csrf_token #}
                            <div class="input-group">

                                
                                <span class="input-group-text" id="event-id-label">Event ID</span>
                                <input type="text" class="form-control" placeholder="ARLI" id="event-id" aria-describedby="event-id-label">
                                
                                <div class="form-floating">
                                    <input type="text" id="event-year" class="form-control" placeholder="2024">
                                    <label for="event-year">Year</label>
                                </div>
                                
                                <div class="form-floating">
                                    <select class="form-select" id="event-level">
                                        <option value="qual">Quals</option>
                                        <option value="playoff">Playoffs</option>
                                    </select>
                                    <label for="event-level">Event Level</label>
                                </div>
                                
                                <button type="button" class="btn btn-outline-primary" onclick="event_schedule()">Search</button>
                            </div>
                        </form>

                        <div class="form-text" id="basic-addon-4">
                            Match ID's can be found at: 
                            <a href="https://frc-events.firstinspires.org/2024/Events/EventList" target="_blank"><button class="btn btn-outline-secondary btn-sm">FRC Events</button></a>
                        </div>
                    </div>
                    <div id="event-response-target">
                        <div class="alert alert-danger" role="alert">
                            <strong class="text-lg">
                                Fetch currently does not function because of CSRF protection
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="create-event" class="btn btn-primary">Create Event</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        async function request_event_schedule(data) {
            const event_url = {{ url_for("admin.render_event_schedule")|tojson }};
            // data.append("csrf_token", document.getElementById("csrf_token").value)
            const response = await fetch(event_url, {
                method: "POST",
                mode: "cors",
                credentials: "same-origin",
                headers:{
                    "Content-Type": "application/json"
                },
                body: data
            });
            return response;
        }

        function event_schedule() {
            let target = document.getElementById("event-response-target");

            target.innerHTML = '<div class="text-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>';

            var event_level = document.getElementById("event-level");

            let data = new FormData()
            data.append("eventCode", document.getElementById("event-id").value)
            data.append("year", document.getElementById("event-year").value)
            data.append("level", event_level.options[event_level.selectedIndex].value)
            request_event_schedule(data).then(
                response => response.text()
            ).then(
                text => target.innerHTML = text
            );

            button.innerHTML = "Get Event";

        }

        
    </script>
{% endblock %}