

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th colspan="1">Match</th>
            <th colspan="3">Blue</th>
            <th colspan="3">Red</th>
        </tr>
        <tr>
            <th scope="row">#</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for game in match_schedule %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                {% for report in game.reports %}
                    <td>
                        <a href="{{ url_for('scouting.report', id = report.id) }}" class="btn">
                            {{report.team_number}}
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>