<!DOCTYPE html>

<html lang="en" data-bs-theme="core">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ config.SITE_NAME }}</title>

    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

    {# Load CSS #}
    {{ bootstrap.load_css() }}
    {% assets 'css_all' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% block css_extra %}{% endblock %}

    {# Load JavaScript #}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block js_extra %}{% endblock %}
</head>

<body class="">
    <!-- Add upper section with site banner -->
    {% include 'assets/menu.html' %}

    <div class="container">
        <div class="p-3">
            <h1>{% block title %}{% endblock %}</h1>
            <hr>

            {% include 'assets/flash.html' %}
            
            {% block body %}{% endblock %}
        </div>
    </div>
    {{ bootstrap.load_js() }}
</body>

<footer>
    <hr>
    <p class="small text-secondary text-end">RT: {{ g.request_time()[0:7] }}s</p>
</footer>

</html>