<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ config.SITE_NAME }}</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

    {% assets 'css_all' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body class="">
    <!-- Add upper section with site banner -->
    {% include 'assets/menu.html' %}

    <div class="container">
        <div class="p-3">
            <h1>{% block title %}{% endblock %}</h1>
            <hr>

            {% include 'assets/flash.html' %}
            
            {% block body %}{% endblock %}
        </div>
    </div>
</body>

<footer>
    <hr>
    <p><small>{{ g.request_time() }}</small></p>
</footer>

</html>